<template>
    <div class="container">
        <div class="row">
            <div class="col-sm-10">
                <h1>Books</h1>
                <hr><br><br>
                <button type="button" class="bg-green-light hover:bg-green-dark rounded \
                text-white"></button>
                <br><br>
                <table class="table table-auto">
                    <thead>
                        <tr>
                            <th scope="col">Title</th>
                            <th scope="col">Author</th>
                            <th scope="col">Read?</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>foo</td>
                            <td>bar</td>
                            <td>foobar</td>
                            <td>
                                <button type="button" class="bg-yellow hover:bg-yellow-darker \
                                rounded text-white">Update</button>
                                <button type="button" class="bg-red hover:bg-red-darker text-white \
                                rounded">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>    
        </div>>
    </div>
</template>